@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 51 100% 50%; /* Primary */
    --primary-foreground: 0 0% 98%;
    --secondary: 197 71% 73%; /* Secondary */
    --secondary-foreground: 240 5.9% 10%;
    --muted: 0 0% 24%; /* Muted */
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 257 54% 63%; /* Accent */
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 100% 63%; /* Destructive */
    --destructive-foreground: 0 0% 98%;
    --success: 97 100% 63%; /* Success */
    --success-foreground: 240 5.9% 10%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 51 100% 50%; /* Primary */
    --primary-foreground: 240 5.9% 10%;
    --secondary: 197 71% 73%; /* Secondary */
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 257 54% 63%; /* Accent */
    --accent-foreground: 0 0% 98%;
    --destructive: 0 100% 63%; /* Destructive */
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --success: 97 100% 63%; /* Success */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.form-border {
  @apply border border-[#ECF0F5] border-[2px];
}

.input-border {
  @apply border border-[#d0d8e0] border-[1.6px];
}
